/* padding 5px */
.p-5{
    padding: 5px !important;
}

.pd-5{
    padding-top: 5px !important;
}

.pb-5{
    padding-bottom: 5px !important;
}

.pr-5{
    padding-right: 5px !important;
}

.pl-5{
    padding-left: 5px !important;
}

.ph-5{
    padding: 0 5px !important;
}

.pv-5{
    padding: 5px 0 !important;
}


/* padding 10px */
.p-10{
    padding: 10px !important;
}

.pd-10{
    padding-top: 10px !important;
}

.pb-10{
    padding-bottom: 10px !important;
}

.pr-10{
    padding-right: 10px !important;
}

.pl-10{
    padding-left: 10px !important;
}

.ph-10{
    padding: 0 10px !important;
}

.pv-10{
    padding: 10px 0 !important;
}


/* padding 15px */
.p-15{
    padding: 15px !important;
}

.pd-15{
    padding-top: 15px !important;
}

.pb-15{
    padding-bottom: 15px !important;
}

.pr-15{
    padding-right: 15px !important;
}

.pl-15{
    padding-left: 15px !important;
}

.ph-15{
    padding: 0 15px !important;
}

.pv-15{
    padding: 15px 0 !important;
}

/* padding 20px */
.p-20{
    padding: 20px !important ;
}

.pd-20{
    padding-top: 20px !important;
}

.pb-20{
    padding-bottom: 20px !important;
}

.pr-20{
    padding-right: 20px !important;
}

.pl-20{
    padding-left: 20px !important;
}

.ph-20{
    padding: 0 20px !important;
}

.pv-20{
    padding: 20px 0 !important;
}


/* padding 25px */
.p-25{
    padding: 25px !important;
}

.pd-25{
    padding-top: 25px !important;
}

.pb-25{
    padding-bottom: 25px !important;
}

.pr-25{
    padding-right: 25px !important;
}

.pl-25{
    padding-left: 25px !important;
}

.ph-25{
    padding: 0 25px !important;
}

.pv-25{
    padding: 25px 0 !important;
}

/* padding 30px */
.p-30{
    padding: 30px !important;
}

.pd-30{
    padding-top: 30px !important;
}

.pb-30{
    padding-bottom: 30px !important;
}

.pr-30{
    padding-right: 30px !important;
}

.pl-30{
    padding-left: 30px !important;
}

.ph-30{
    padding: 0 30px !important;
}

.pv-30{
    padding: 30px 0 !important;
}


/* padding 35px */
.p-35{
    padding: 35px !important;
}

.pd-35{
    padding-top: 35px !important;
}

.pb-35{
    padding-bottom: 35px !important;
}

.pr-35{
    padding-right: 35px !important;
}

.pl-35{
    padding-left: 35px !important;
}

.ph-35{
    padding: 0 35px !important;
}

.pv-35{
    padding: 35px 0 !important;
}


/* padding 40px */
.p-40{
    padding: 40px !important;
}

.pd-40{
    padding-top: 40px !important;
}

.pb-40{
    padding-bottom: 40px !important;
}

.pr-40{
    padding-right: 40px !important;
}

.pl-40{
    padding-left: 40px !important;
}

.ph-40{
    padding: 0 40px !important;
}

.pv-40{
    padding: 40px 0 !important;
}


/* padding 45px */
.p-45{
    padding: 45px !important;
}

.pd-45{
    padding-top: 45px !important;
}

.pb-45{
    padding-bottom: 45px !important;
}

.pr-45{
    padding-right: 45px !important;
}

.pl-45{
    padding-left: 45px !important;
}

.ph-45{
    padding: 0 45px !important;
}

.pv-45{
    padding: 45px 0 !important;
}

/* padding 50px */
.p-50{
    padding: 50px !important;
}

.pd-50{
    padding-top: 50px !important;
}

.pb-50{
    padding-bottom: 50px !important;
}

.pr-50{
    padding-right: 50px !important;
}

.pl-50{
    padding-left: 50px !important;
}

.ph-50{
    padding: 0 50px !important;
}

.pv-50{
    padding: 50px 0 !important;
}


/* padding 55px */
.p-55{
    padding: 55px !important;
}

.pd-55{
    padding-top: 55px !important;
}

.pb-55{
    padding-bottom: 55px !important;
}

.pr-55{
    padding-right: 55px !important;
}

.pl-55{
    padding-left: 55px !important;
}

.ph-55{
    padding: 0 55px !important;
}

.pv-55{
    padding: 55px 0 !important;
}


/* padding 60px */
.p-60{
    padding: 60px !important;
}

.pd-60{
    padding-top: 60px !important;
}

.pb-60{
    padding-bottom: 60px !important;
}

.pr-60{
    padding-right: 60px !important;
}

.pl-60{
    padding-left: 60px !important;
}

.ph-60{
    padding: 0 60px !important;
}

.pv-60{
    padding: 60px 0 !important;
}


/* padding 65px */
.p-65{
    padding: 65px !important;
}

.pd-65{
    padding-top: 65px !important;
}

.pb-65{
    padding-bottom: 65px !important;
}

.pr-65{
    padding-right: 65px !important;
}

.pl-65{
    padding-left: 65px !important;
}

.ph-65{
    padding: 0 65px !important;
}

.pv-65{
    padding: 65px 0 !important;
}


/* padding 70px */
.p-70{
    padding: 70px !important;
}

.pd-70{
    padding-top: 70px !important;
}

.pb-70{
    padding-bottom: 70px !important;
}

.pr-70{
    padding-right: 70px !important;
}

.pl-70{
    padding-left: 70px !important;
}

.ph-70{
    padding: 0 70px !important;
}

.pv-70{
    padding: 70px 0 !important;
}


/* padding 75px */
.p-75{
    padding: 75px !important;
}

.pd-75{
    padding-top: 75px !important;
}

.pb-75{
    padding-bottom: 75px !important;
}

.pr-75{
    padding-right: 75px !important;
}

.pl-75{
    padding-left: 75px !important;
}

.ph-75{
    padding: 0 75px !important;
}

.pv-75{
    padding: 75px 0 !important;
}


/* padding 80px */
.p-80{
    padding: 80px !important;
}

.pd-80{
    padding-top: 80px !important;
}

.pb-80{
    padding-bottom: 80px !important;
}

.pr-80{
    padding-right: 80px !important;
}

.pl-80{
    padding-left: 80px !important;
}

.ph-80{
    padding: 0 80px !important;
}

.pv-80{
    padding: 80px 0 !important;
}


/* padding 85px */
.p-85{
    padding: 85px !important;
}

.pd-85{
    padding-top: 85px !important;
}

.pb-85{
    padding-bottom: 85px !important;
}

.pr-85{
    padding-right: 85px !important;
}

.pl-85{
    padding-left: 85px !important;
}

.ph-85{
    padding: 0 85px !important;
}

.pv-85{
    padding: 85px 0 !important;
}


/* padding 90px */
.p-90{
    padding: 90px !important;
}

.pd-90{
    padding-top: 90px !important;
}

.pb-90{
    padding-bottom: 90px !important;
}

.pr-90{
    padding-right: 90px !important;
}

.pl-90{
    padding-left: 90px !important;
}

.ph-90{
    padding: 0 90px !important;
}

.pv-90{
    padding: 90px 0 !important;
}


/* padding 95px */
.p-95{
    padding: 95px !important;
}

.pd-95{
    padding-top: 95px !important;
}

.pb-95{
    padding-bottom: 95px !important;
}

.pr-95{
    padding-right: 95px !important;
}

.pl-95{
    padding-left: 95px !important;
}

.ph-95{
    padding: 0 95px !important;
}

.pv-95{
    padding: 95px 0 !important;
}


/* padding 100px */
.p-100{
    padding: 100px !important;
}

.pd-100{
    padding-top: 100px !important;
}

.pb-100{
    padding-bottom: 100px !important;
}

.pr-100{
    padding-right: 100px !important;
}

.pl-100{
    padding-left: 100px !important;
}

.ph-100{
    padding: 0 100px !important;
}

.pv-100{
    padding: 100px 0 !important;
}


/* padding 110px */
.p-110{
    padding: 110px !important;
}

.pd-110{
    padding-top: 110px !important;
}

.pb-110{
    padding-bottom: 110px !important;
}

.pr-110{
    padding-right: 110px !important;
}

.pl-110{
    padding-left: 110px !important;
}

.ph-110{
    padding: 0 110px !important;
}

.pv-110{
    padding: 110px 0 !important;
}


/* padding 120px */
.p-120{
    padding: 120px !important;
}

.pd-120{
    padding-top: 120px !important;
}

.pb-120{
    padding-bottom: 120px !important;
}

.pr-120{
    padding-right: 120px !important;
}

.pl-120{
    padding-left: 120px !important;
}

.ph-120{
    padding: 0 120px !important;
}

.pv-120{
    padding: 120px 0 !important;
}


/* padding 130px */
.p-130{
    padding: 130px !important;
}

.pd-130{
    padding-top: 130px !important;
}

.pb-130{
    padding-bottom: 130px !important;
}

.pr-130{
    padding-right: 130px !important;
}

.pl-130{
    padding-left: 130px !important;
}

.ph-130{
    padding: 0 130px !important;
}

.pv-130{
    padding: 130px 0 !important;
}


/* padding 140px */
.p-140{
    padding: 140px !important;
}

.pd-140{
    padding-top: 140px !important;
}

.pb-140{
    padding-bottom: 140px !important;
}

.pr-140{
    padding-right: 140px !important;
}

.pl-140{
    padding-left: 140px !important;
}

.ph-140{
    padding: 0 140px !important;
}

.pv-140{
    padding: 140px 0 !important;
}


/* padding 150px */
.p-150{
    padding: 150px !important;
}

.pd-150{
    padding-top: 150px !important;
}

.pb-150{
    padding-bottom: 150px !important;
}

.pr-150{
    padding-right: 150px !important;
}

.pl-150{
    padding-left: 150px !important;
}

.ph-150{
    padding: 0 150px !important;
}

.pv-150{
    padding: 150px 0 !important;
}


/* padding 160px */
.p-160{
    padding: 160px !important;
}

.pd-160{
    padding-top: 160px !important;
}

.pb-160{
    padding-bottom: 160px !important;
}

.pr-160{
    padding-right: 160px !important;
}

.pl-160{
    padding-left: 160px !important;
}

.ph-160{
    padding: 0 160px !important;
}

.pv-160{
    padding: 160px 0 !important;
}


/* padding 170px */
.p-170{
    padding: 170px !important;
}

.pd-170{
    padding-top: 170px !important;
}

.pb-170{
    padding-bottom: 170px !important;
}

.pr-170{
    padding-right: 170px !important;
}

.pl-170{
    padding-left: 170px !important;
}

.ph-170{
    padding: 0 170px !important;
}

.pv-170{
    padding: 170px 0 !important;
}

/* padding 180px */
.p-180{
    padding: 180px !important;
}

.pd-180{
    padding-top: 180px !important;
}

.pb-180{
    padding-bottom: 180px !important;
}

.pr-180{
    padding-right: 180px !important;
}

.pl-180{
    padding-left: 180px !important;
}

.ph-180{
    padding: 0 180px !important;
}

.pv-180{
    padding: 180px 0 !important;
}


/* padding 190px */
.p-190{
    padding: 190px !important;
}

.pd-190{
    padding-top: 190px !important;
}

.pb-190{
    padding-bottom: 190px !important;
}

.pr-190{
    padding-right: 190px !important;
}

.pl-190{
    padding-left: 190px !important;
}

.ph-190{
    padding: 0 190px !important;
}

.pv-190{
    padding: 190px 0 !important;
}


/* padding 200px */
.p-200{
    padding: 200px !important;
}

.pd-200{
    padding-top: 200px !important;
}

.pb-200{
    padding-bottom: 200px !important;
}

.pr-200{
    padding-right: 200px !important;
}

.pl-200{
    padding-left: 200px !important;
}

.ph-200{
    padding: 0 200px !important;
}

.pv-200{
    padding: 200px 0 !important;
}

/* margin 5px */
.m-5{
    margin: 5px !important;
}

.mt-5{
    margin-top: 5px !important;
}

.mb-5{
    margin-bottom: 5px !important;
}

.mr-5{
    margin-right: 5px !important;
}

.ml-5{
    margin-left: 5px !important;
}

.mh-5{
    margin: 0 5px !important;
}

.mv-5{
    margin: 5px 0 !important;
}


/* margin 10px */
.m-10{
    margin: 10px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.mr-10{
    margin-right: 10px !important;
}

.ml-10{
    margin-left: 10px !important;
}

.mh-10{
    margin: 0 10px !important;
}

.mv-10{
    margin: 10px 0 !important;
}


/* margin 40px */
.m-15{
    margin: 15px !important;
}

.mt-15{
    margin-top: 15px !important;
}

.mb-15{
    margin-bottom: 15px !important;
}

.mr-15{
    margin-right: 15px !important;
}

.ml-15{
    margin-left: 15px !important;
}

.mh-15{
    margin: 0 15px !important;
}

.mv-15{
    margin: 15px 0 !important;
}

/* margin 20px */
.m-20{
    margin: 20px !important ;
}

.mt-20{
    margin-top: 20px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mr-20{
    margin-right: 20px !important;
}

.ml-20{
    margin-left: 20px !important;
}

.mh-20{
    margin: 0 20px !important;
}

.mv-20{
    margin: 20px 0 !important;
}


/* margin 25px */
.m-25{
    margin: 25px !important;
}

.mt-25{
    margin-top: 25px !important;
}

.mb-25{
    margin-bottom: 25px !important;
}

.mr-25{
    margin-right: 25px !important;
}

.ml-25{
    margin-left: 25px !important;
}

.mh-25{
    margin: 0 25px !important;
}

.mv-25{
    margin: 25px 0 !important;
}

/* margin 30px */
.m-30{
    margin: 30px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mb-30{
    margin-bottom: 30px !important;
}

.mr-30{
    margin-right: 30px !important;
}

.ml-30{
    margin-left: 30px !important;
}

.mh-30{
    margin: 0 30px !important;
}

.mv-30{
    margin: 30px 0 !important;
}


/* margin 35px */
.m-35{
    margin: 35px !important;
}

.mt-35{
    margin-top: 35px !important;
}

.mb-35{
    margin-bottom: 35px !important;
}

.mr-35{
    margin-right: 35px !important;
}

.ml-35{
    margin-left: 35px !important;
}

.mh-35{
    margin: 0 35px !important;
}

.mv-35{
    margin: 35px 0 !important;
}


/* margin 40px */
.m-40{
    margin: 40px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.mb-40{
    margin-bottom: 40px !important;
}

.mr-40{
    margin-right: 40px !important;
}

.ml-40{
    margin-left: 40px !important;
}

.mh-40{
    margin: 0 40px !important;
}

.mv-40{
    margin: 40px 0 !important;
}


/* margin 45px */
.m-45{
    margin: 45px !important;
}

.mt-45{
    margin-top: 45px !important;
}

.mb-45{
    margin-bottom: 45px !important;
}

.mr-45{
    margin-right: 45px !important;
}

.ml-45{
    margin-left: 45px !important;
}

.mh-45{
    margin: 0 45px !important;
}

.mv-45{
    margin: 45px 0 !important;
}

/* margin 50px */
.m-50{
    margin: 50px !important;
}

.mt-50{
    margin-top: 50px !important;
}

.mb-50{
    margin-bottom: 50px !important;
}

.mr-50{
    margin-right: 50px !important;
}

.ml-50{
    margin-left: 50px !important;
}

.mh-50{
    margin: 0 50px !important;
}

.mv-50{
    margin: 50px 0 !important;
}


/* margin 55px */
.m-55{
    margin: 55px !important;
}

.mt-55{
    margin-top: 55px !important;
}

.mb-55{
    margin-bottom: 55px !important;
}

.mr-55{
    margin-right: 55px !important;
}

.ml-55{
    margin-left: 55px !important;
}

.mh-55{
    margin: 0 55px !important;
}

.mv-55{
    margin: 55px 0 !important;
}


/* margin 60px */
.m-60{
    margin: 60px !important;
}

.mt-60{
    margin-top: 60px !important;
}

.mb-60{
    margin-bottom: 60px !important;
}

.mr-60{
    margin-right: 60px !important;
}

.ml-60{
    margin-left: 60px !important;
}

.mh-60{
    margin: 0 60px !important;
}

.mv-60{
    margin: 60px 0 !important;
}


/* margin 65px */
.m-65{
    margin: 65px !important;
}

.mt-65{
    margin-top: 65px !important;
}

.mb-65{
    margin-bottom: 65px !important;
}

.mr-65{
    margin-right: 65px !important;
}

.ml-65{
    margin-left: 65px !important;
}

.mh-65{
    margin: 0 65px !important;
}

.mv-65{
    margin: 65px 0 !important;
}


/* margin 70px */
.m-70{
    margin: 70px !important;
}

.mt-70{
    margin-top: 70px !important;
}

.mb-70{
    margin-bottom: 70px !important;
}

.mr-70{
    margin-right: 70px !important;
}

.ml-70{
    margin-left: 70px !important;
}

.mh-70{
    margin: 0 70px !important;
}

.mv-70{
    margin: 70px 0 !important;
}


/* margin 75px */
.m-75{
    margin: 75px !important;
}

.mt-75{
    margin-top: 75px !important;
}

.mb-75{
    margin-bottom: 75px !important;
}

.mr-75{
    margin-right: 75px !important;
}

.ml-75{
    margin-left: 75px !important;
}

.mh-75{
    margin: 0 75px !important;
}

.mv-75{
    margin: 75px 0 !important;
}


/* margin 80px */
.m-80{
    margin: 80px !important;
}

.mt-80{
    margin-top: 80px !important;
}

.mb-80{
    margin-bottom: 80px !important;
}

.mr-80{
    margin-right: 80px !important;
}

.ml-80{
    margin-left: 80px !important;
}

.mh-80{
    margin: 0 80px !important;
}

.mv-80{
    margin: 80px 0 !important;
}


/* margin 85px */
.m-85{
    margin: 85px !important;
}

.mt-85{
    margin-top: 85px !important;
}

.mb-85{
    margin-bottom: 85px !important;
}

.mr-85{
    margin-right: 85px !important;
}

.ml-85{
    margin-left: 85px !important;
}

.mh-85{
    margin: 0 85px !important;
}

.mv-85{
    margin: 85px 0 !important;
}


/* margin 90px */
.m-90{
    margin: 90px !important;
}

.mt-90{
    margin-top: 90px !important;
}

.mb-90{
    margin-bottom: 90px !important;
}

.mr-90{
    margin-right: 90px !important;
}

.ml-90{
    margin-left: 90px !important;
}

.mh-90{
    margin: 0 90px !important;
}

.mv-90{
    margin: 90px 0 !important;
}


/* margin 95px */
.m-95{
    margin: 95px !important;
}

.mt-95{
    margin-top: 95px !important;
}

.mb-95{
    margin-bottom: 95px !important;
}

.mr-95{
    margin-right: 95px !important;
}

.ml-95{
    margin-left: 95px !important;
}

.mh-95{
    margin: 0 95px !important;
}

.mv-95{
    margin: 95px 0 !important;
}


/* margin 100px */
.m-100{
    margin: 100px !important;
}

.mt-100{
    margin-top: 100px !important;
}

.mb-100{
    margin-bottom: 100px !important;
}

.mr-100{
    margin-right: 100px !important;
}

.ml-100{
    margin-left: 100px !important;
}

.mh-100{
    margin: 0 100px !important;
}

.mv-100{
    margin: 100px 0 !important;
}


/* margin 110px */
.m-110{
    margin: 110px !important;
}

.mt-110{
    margin-top: 110px !important;
}

.mb-110{
    margin-bottom: 110px !important;
}

.mr-110{
    margin-right: 110px !important;
}

.ml-110{
    margin-left: 110px !important;
}

.mh-110{
    margin: 0 110px !important;
}

.mv-110{
    margin: 110px 0 !important;
}


/* margin 120px */
.m-120{
    margin: 120px !important;
}

.mt-120{
    margin-top: 120px !important;
}

.mb-120{
    margin-bottom: 120px !important;
}

.mr-120{
    margin-right: 120px !important;
}

.ml-120{
    margin-left: 120px !important;
}

.mh-120{
    margin: 0 120px !important;
}

.mv-120{
    margin: 120px 0 !important;
}


/* margin 130px */
.m-130{
    margin: 130px !important;
}

.mt-130{
    margin-top: 130px !important;
}

.mb-130{
    margin-bottom: 130px !important;
}

.mr-130{
    margin-right: 130px !important;
}

.ml-130{
    margin-left: 130px !important;
}

.mh-130{
    margin: 0 130px !important;
}

.mv-130{
    margin: 130px 0 !important;
}


/* margin 140px */
.m-140{
    margin: 140px !important;
}

.mt-140{
    margin-top: 140px !important;
}

.mb-140{
    margin-bottom: 140px !important;
}

.mr-140{
    margin-right: 140px !important;
}

.ml-140{
    margin-left: 140px !important;
}

.mh-140{
    margin: 0 140px !important;
}

.mv-140{
    margin: 140px 0 !important;
}


/* margin 150px */
.m-150{
    margin: 150px !important;
}

.mt-150{
    margin-top: 150px !important;
}

.mb-150{
    margin-bottom: 150px !important;
}

.mr-150{
    margin-right: 150px !important;
}

.ml-150{
    margin-left: 150px !important;
}

.mh-150{
    margin: 0 150px !important;
}

.mv-150{
    margin: 150px 0 !important;
}


/* margin 160px */
.m-160{
    margin: 160px !important;
}

.mt-160{
    margin-top: 160px !important;
}

.mb-160{
    margin-bottom: 160px !important;
}

.mr-160{
    margin-right: 160px !important;
}

.ml-160{
    margin-left: 160px !important;
}

.mh-160{
    margin: 0 160px !important;
}

.mv-160{
    margin: 160px 0 !important;
}


/* margin 170px */
.m-170{
    margin: 170px !important;
}

.mt-170{
    margin-top: 170px !important;
}

.mb-170{
    margin-bottom: 170px !important;
}

.mr-170{
    margin-right: 170px !important;
}

.ml-170{
    margin-left: 170px !important;
}

.mh-170{
    margin: 0 170px !important;
}

.mv-170{
    margin: 170px 0 !important;
}

/* margin 180px */
.m-180{
    margin: 180px !important;
}

.mt-180{
    margin-top: 180px !important;
}

.mb-180{
    margin-bottom: 180px !important;
}

.mr-180{
    margin-right: 180px !important;
}

.ml-180{
    margin-left: 180px !important;
}

.mh-180{
    margin: 0 180px !important;
}

.mv-180{
    margin: 180px 0 !important;
}


/* margin 190px */
.m-190{
    margin: 190px !important;
}

.mt-190{
    margin-top: 190px !important;
}

.mb-190{
    margin-bottom: 190px !important;
}

.mr-190{
    margin-right: 190px !important;
}

.ml-190{
    margin-left: 190px !important;
}

.mh-190{
    margin: 0 190px !important;
}

.mv-190{
    margin: 190px 0 !important;
}


/* margin 200px */
.m-200{
    margin: 200px !important;
}

.mt-200{
    margin-top: 200px !important;
}

.mb-200{
    margin-bottom: 200px !important;
}

.mr-200{
    margin-right: 200px !important;
}

.ml-200{
    margin-left: 200px !important;
}

.mh-200{
    margin: 0 200px !important;
}

.mv-200{
    margin: 200px 0 !important;
}

.clear{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;  
}

.box{
    box-sizing: border-box;
    outline: none;
}

.h100p	{
    height: 100%;
}

.w100p{
    width: 100%;
}

.d-ib{
    display: inline-block;
}

.d-if{
    display: inline-flex;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.align-start{
    align-items: flex-start;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-auto{
    flex: 1 1 auto;
}

.flex{
    flex: 1;
}

.m-auto{
    margin: auto;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.pos-r{
    position: relative;
}

.pos-a{
    position: absolute;
}

/* text */

.text-center{
    text-align: center;
}

.text-capitalize{
    text-transform: capitalize;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-truncate{
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.fw-bold{
    font-weight: bold;
}

.opacity-1{
    opacity: 0.1;
}

.opacity-2{
    opacity: 0.2;
}

.opacity-3{
    opacity: 0.3;
}

.opacity-4{
    opacity: 0.4;
}

.opacity-5{
    opacity: 0.5;
}

.opacity-6{
    opacity: 0.6;
}

.opacity-7{
    opacity: 0.7;
}

.opacity-8{
    opacity: 0.8;
}

.opacity-9{
    opacity: 0.9;
}

.opacity-10{
    opacity: 1;
}